*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family:  'Kumbh Sans', sans-serif;

    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
}

p{
    font-size: 1.6rem;
}

header{
    width: 100%;
    height: 6rem;

    border-bottom: 1px solid rgba(0, 0, 0, 0.432);
}

header > #logo{
    width: 15rem;
    margin: 2rem;
}

header > #cart-icon{
    width: 3.5rem;

    margin: 1.5rem;
    float: right;

    cursor: pointer;
}

section > img{
    margin-top: 5rem;

    width: 40rem;

    border-radius: 8px;

    cursor: pointer;
}

#images > img{
    width: 9rem;
    margin-left: 1rem;

    border-radius: 8px;

    cursor: pointer;
}

#images > img:hover{
    border: 3px solid var(--orange);
}

#texts > h1{
    font-size: 3rem;
}

#texts > h2{
    font-size: 2.3rem;
}

#cart{
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart > img{
    width: 1.5rem;

    cursor: pointer;
}

#cart > button{
    border: 1px solid rgba(0, 0, 0, 0.336);

    border-radius: 6px;

    width:  16rem;
    height: 4rem;

    background-color: var(--orange);

    color: white;

    font-size: 1.6rem;

    cursor: pointer;
}

#cart > button:hover{
    filter: brightness(1.2);
}